*{
    margin: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    height: 400px;
    width: 600px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #33c113;
    background-image: linear-gradient(45deg, #85beff 0%, #8e7dff 100%);




}
.item{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    background: radial-gradient(circle, rgb(251, 63, 176) 0%, rgb(79, 29, 50) 100%);


    
}
@keyframes music {
    from{
    }
    to{
        height: 150px;
    }
}
.a,
.c,
.e,
.g,
.i{
    animation: music 0.3s linear infinite;
    animation-direction: alternate-reverse;
}
.b,
.d,
.f,
.h,
.j{
    animation: music 0.2s linear infinite;
    animation-direction: alternate;
}